
/* MAIN BODY */
body {
    background-color: #F2E8DC;
}

html {
    scroll-behavior: smooth;
}

/* Back to top Button */
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    background: none;
    background-size: contain;
    background-repeat: no-repeat;
}
/********************/
/**** NAVBAR ****/
/********************/
nav .navbar-brand {
    font-size: 50px;
}

.nav-item {
    font-weight: bold;
}

nav .navbar-nav li a {
    color: white !important;
}

.navbar {
    /*black*/
    background-color: #212122;
}

nav .navbar-nav li a:hover {
    opacity: 85%;
}

/* LANGUAGE */
.nav-item-lang {
    background-color: #1C2437;
    border-radius: 30%;
    width: 50px;
    height: 50px;
    text-align: center;
    border-width: 3px;
    /*beige*/
    border-color: #F2E8DC;
    border-style: solid;
    font-weight: bold;
}

    .nav-item-lang:hover {
        -webkit-animation: langAnim 5s 1;
    }


@-webkit-keyframes langAnim {
    0% {
        background: #232D45;
    }

    25% {
        background: #6481C4;
    }

    100% {
        background: #6481C4;
    }
}

/********************/
/****** FILTER ******/
/********************/
#filter {
    background-color: #EBD9C3;
}

.form-group label {
    font-weight: bold;
}

#btnSearch {
    background-color: #DE425D;
    border-style: none;
}

    #btnSearch:hover {
        opacity: 85%;
    }

/********************/
/* CARDS TV SHOWS, SEASONS, ACTORS, EPISODES*/
/********************/

.card, .card-season, .card-episode {
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -o-transition: all .9s ease;
    max-width: 100%;
    height: fit-content;
    border-style: none;
}
    /* HOVER - box shadow*/
    .card:hover, .card-season:hover, .card-episode:hover {
        transform: scale(1.08);
        box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    }

.card-body {
    /*beige*/
    background-color: #EBD9C3;
}

/* CARD -- TITLE */
.card-title {
    font-weight: 700;
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    color: #212122;
}

.card:hover .card-title, .card-season:hover .card-title, .card-episode:hover .card-title {
    /*dark red*/
    color: #9E2F42;
    text-decoration: none;
}

.card-body .card-footer {
    /* black */
    color: #212122;
    text-decoration: none;
}

.card a, .card-season a{
    text-decoration: none;
}


/* CARD -- ROLE */
.card-role {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
}

    .card-role .card-img-top-role {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: center;

    }
    .card-body-role{
        width:150px;
    }

/* CARD -- FOOTER */
.card-footer {
    font-weight: 500;
    background: none;
    height: 0px;
}

.card:hover .card-footer, .card-season:hover h5+p  {
    /*dark red*/
    color: #9E2F42;
}

/****************/
/***PAGINATION***/
/****************/
.page-link {
    background-color: #212122;
    color: white;
    font-weight: bold;
    border-style: none;
}

#pageNow {
    background-color: #DE435C;
    color: white;
    font-weight: bold;
    border-style: none;
}

#pageDisabled {
    background-color: #404042;
    color: white;
}

.page-link:hover {
    background-color: #DE435C;
    color: white;
}

#pageOther {
    background-color: #6A6A6E;
    font-weight: normal;
}

/****TVSHOW-INFO****/
.tvshow-info {
    background-color: #C7B8A5;
    padding: 50px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.tvshow-summary {
    background: #DE435C;
    height: 32px;
    width: auto;
    font-weight: bold;
    padding-left: 20px;
    font-size: 20px;
    border-style: solid;
    border-width: 3px;
}
