@model IEnumerable<AnimeCrunch.Models.DataModels.TvShow>
@using AnimeCrunch.Models.DataModels

<h2>@AnimeCrunch.Resources.Views.StringsViews.Favorites</h2>
<div class="row">
    @foreach (TvShow tv in Model)
    {
        @Html.DisplayFor(t => tv)
    }
</div>
