@model IEnumerable<AnimeCrunch.Models.DataModels.Episode>
@using AnimeCrunch.Models.DataModels;

<h2>@AnimeCrunch.Resources.Views.StringsViews.History</h2>
<div class="row">
    @foreach (Episode ep in Model)
    {
        @Html.DisplayFor(e => ep)
    }
</div>
